<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- https://vuejs.org/v2/guide/installation.html -->
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- Vòng lặp number -->
        <li v-for="num in 10">{{num}}</li>
        <hr>
        <!-- Vòng lặp mảng -->
        <li v-for="(item, index) in items">{{item}} - {{index}}</li>
        <button v-on:click="items.push('Menu x')">Keep track - index</button>
        <hr>
        <!-- alternative -->
        <!-- Vòng lặp mảng -->
        <template v-for="(num, index) in items">
            <li>{{num}} - {{index}}</li>
        </template>
        <hr>
        <!-- alternative -->
        <!-- Vòng lặp mảng lồng nhau -->
        <template v-for="(student, index) in studens">
            <li v-for="(item, key, index) in student">
                {{key}}: {{item}} ({{index}})
            </li>
        </template>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                items: ['Menu 1', 'Menu 2', 'Menu 3', 'Menu 4', 'Menu 5'],
                studens: [{
                        name: 'Antonio',
                        age: 43
                    },
                    {
                        name: 'Anthoni',
                        age: 61
                    },
                    {
                        name: 'Sophia',
                        age: 58
                    },
                ]
            }
        })
    </script>
</body>

</html>